*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navegador{
    background-color: #272829;
}
.navegador ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: x-large;
    flex-wrap: wrap;

}
.navegador ul li a{
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    color: #D8D9DA;
}
@media(max-width:765px){
    .navegador ul{
        background-color: white;
    }
    .navegador ul li a{
        color: black;
    }
}
.navegador ul li a:hover{
    background-color: #61677A;
    transition: 1s;
}
.carousel-inner{
    width: 100%;
    height: 850px;
    margin: 15px;
}
.tarjetas{
    width: 550px;
    height: 650px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
}
.tarjetas h3{
    display: flex;
    text-align: center;
}
.tarjetas img{
    display: flex;
    width: 500px;
    height: 450px;
    
}